[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "submodules/dotbot-brewfile"]
	path = submodules/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "submodules/dotbot-ghq"]
	path = submodules/dotbot-ghq
	url = https://github.com/klane/dotbot-ghq.git
	ignore = dirty
[submodule "zsh/custom/plugins/antigen"]
	path = zsh/custom/plugins/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "submodules/dotbot-vscode"]
	path = submodules/dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode
