[user]
    name = Jeffrey Davidson
    email = 3826104+JeffreyDavidson@users.noreply.github.com
    username = jeffreydavidson
	signingKey = 28DB89B8E22C2D6355C3452DDFC32F67B6CE3B8B
[init]
    defaultBranch = main
[core]
    pager = delta
    excludesfile = ${XDG_CONFIG_HOME}/git/.gitignore_global
[web]
    browser = firefox
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    features = arctic-fox
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[commit]
    gpgsign = true
[alias]
nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
