[user]
    name = Jeffrey Davidson
    email = 3826104+JeffreyDavidson@users.noreply.github.com
    username = jeffreydavidson
    signingKey = 438C2DE185242897F58B45C8DEF1F428A35B77BC
[init]
    defaultBranch = main
[core]
    pager = delta
    excludesfile = $HOME/.config/git/.gitignore_global
[web]
    browser = firefox
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    features = arctic-fox
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[gpg]
    format = ssh
[commit]
    gpgsign = true
[include]
    path = $HOME/.config/delta/themes.gitconfig
[alias]
nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
